.p-panel .p-panel-header {
  border: 1px solid #dee2e6;
  padding: 0rem !important;
  background: #f8f9fa;
  color: #343a40;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
img {
  width: 100%;
  border-radius: 0.3rem;
  border: 1px solid #000;
}

.kogui__panel_text {
  line-height: 0.4rem;
}
.kogui__panel_icon {
  float: right;
}


